.playlist-creadaparati {

}

.playlist-creadaparati-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  inline-size: fit-content;
  gap: 1.5rem;
  align-items: center;
  padding-block-end: 1rem;
}

.playlist-creadaparati-header h3 {
  font: var(--headline1);
  color: var(--white);
  margin-block-end: 0;
  margin-block-start: 5.4375rem;
}

.playlist-creadaparati-header-details {
  font: var(--basefont-normal);
  color: var(--white);
  text-align: center;
}

.playlist-creadaparati-header-details p {
  margin: 0;
}

.playlist-creadaparati-songList{
}

.playlist-creadaparati-song {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playlist-creadaparati-song p {
  color: var(--white);
}

.playlist-creadaparati-title p {
  margin: 0;
  font: var(--baseFont);
}

.playlist-creadaparati-table .icon-heart {
  font-size: 1.125rem;
  vertical-align: middle;
  color: var(--white);
}


.playlist-creadaparati-title .is-secondary {
  block-size: 1.5rem;
  inline-size: 1.5rem;
}

.playlist-creadaparati-title .is-secondary .icon-play {
  font-size: 8px;
}

.playlist-creadaparati-table {
  inline-size: 100%;
  --max-inline-size-icons: 2.75rem;
  --max-inline-size-calendar: 6rem;
  --max-inline-size-clock: 2.937rem;
}


.playlist-creadaparati-table tr {
  /* border: 1px solid navy; */
  display: flex;
  /* line-height: 2.75rem; */
}

.playlist-creadaparati tr td,
.playlist-creadaparati-table tr th {
  /* border: 1px solid green; */
  padding: 14px 10px;
  box-sizing: border-box;
  flex: 1;
}

.playlist-creadaparati-table tbody tr td {
  padding: 11px 10px;
}

.playlist-creadaparati-table tr th {
  text-align: start;
  text-transform: uppercase;
  font: var(--subtitle2);
}

.icon-calendar,
.icon-clock {
  font-size: 1.125rem;
}

.is-icon {
  max-inline-size: var(--max-inline-size-icons);
}

.is-calendar {
  max-inline-size: var(--max-inline-size-calendar);
}

.is-clock {
  max-inline-size: var(--max-inline-size-clock);
}

.playlist-creadaparati-filter {
  margin-block: 1rem;
}

.playlist-creadaparati-filter .search input {
  background-color: transparent;
  color: var(--white);
}

.playlist-creadaparati-filter .search i {
  color: var(--white);
}

tbody {
  font: var(--basefont-normal);
}

.is-color {
  color: var(--white);
}

.is-artist {
  text-transform: uppercase;
}